@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

body {
	font-family: 'Odibee Sans';
	background-image: url("./images/dj-lubelski-large.jfif");
	background-size: 100vw;
	background-position: center;
	background-attachment: fixed;
}
input{
	caret-color: white;
}
input::placeholder{
	color: white;
	font-size: 2rem;
}
input[type = text]{
	color: white;
}
h1 {
	font-size: 3rem;
}
p{
	font-size: 1.2rem;
}

h1 a{
	text-decoration: none;
	color: black;
}

h1 a:hover{
	color: rgba(0,0,0,0.6);
}

h1 a:visited{
	color: black;
}
label{
	font-size: 1.3rem;
}
img{
	margin-top: 0.3rem;
	width: 1.5rem;
}
img:hover{
	transform: rotate(20deg);
}
#login a{
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
#login{
	padding-top: 2vh;
	font-size: 1.8rem;
	margin-left: 95vw;
}
#login a:hover{
	color: white;
	font-size: 1.8rem;
}

.slick-slide div {
	margin: auto;
  }