@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

body {
	font-family: 'Odibee Sans';
	background-image: url("./images/dj-lubelski-large.jfif");
	background-size: 100vw;
	background-position: center;
	background-attachment: fixed;
}
#tldr{
	color: white;
	font-family: Odibee Sans;
	font-size: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 10vh auto;
	width: 10vw;
	height: 2vh;
}
#intro{
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 10rem;
}
@keyframes changeIntro {
  from {color: white;}
  to { color: #F78DA1; font-style: italic;}
}
#intro strong{
	animation: changeIntro 2s infinite;
}
/*@keyframes changeHr {
  from { width: 0; }
  to { width: 42vw; 
	transition: width 1s linear;}
}
hr{
	width: 0;
	border: 2px solid white;
	animation: changeHr 2s;
}*/

input::placeholder{
	color: white;
	font-size: 2rem;
}	
input[type = text]{
	color: white;
	font-size: 2rem;
}
input:focus::placeholder{
	opacity: 0;
	transform: translateX(15vw);
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: all 0.5s linear
}
h1 {
	font-size: 3rem;
}
p{
	font-size: 1.2rem;
}

h1 a{
	text-decoration: none;
	color: black;
}

h1 a:hover{
	color: rgba(0,0,0,0.6);
}

h1 a:visited{
	color: black;
}
label{
	font-size: 1.3rem;
}
img{
	margin-top: 0.3rem;
	width: 1.5rem;
}
img:hover{
	transform: rotate(20deg);
}
#login a{
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}
#login{
	padding-top: 2vh;
	font-size: 1.8rem;
	margin-left: 95vw;
}
#login a:hover{
	color: white;
	font-size: 1.8rem;
}
#submitBtn{
	display: absolute;
	background: transparent;
	border: none;
	font-size: 1.8rem;
	font-family: "Odibee Sans";
	color: white;
	padding: 0.3em;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	margin-left: -0.5rem;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes bounce { 
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

#submitBtn:hover span{ 
	color: rgb(220, 137, 146);
}

#submitBtn:hover {
	-webkit-animation-name: bounce; 
    animation-name: bounce; 
	cursor: pointer;
}

#cardLink{
	font-size: 2rem;
	padding: 1rem;
	color: black;
}

#cardLink:hover{
	color: #0000EE;
}
.slick-dots li button{
	color: white;
}
.slick-dots li button::before{
	opacity: 0.7;
	color: white;
	font-size: 0.6rem;
}